---
---

@import "{{ site.theme }}";
a.name {
    color: #C30000;
}

header{
	left: 10px;
	width: 190px;
	background-color: #3d005b;
}

p.header{
	font-size: 14px;
    width: 210px;
}

a.name{
	color: #3d005b;
}